.tabs {
  position: relative;
  min-height: 200px;
  clear: both;
  margin: 50px 0 25px;
  background: white;
}
.Imge{
  height: 420px;
  width: 100%;
  border-radius: 0px;
}
.btn{
  width: 200px;
  margin-left: -10%;
}
.tab {
  width:auto;
  float: left;
}

.tab label {
  background: white;
  padding: 2px;
  border: 1px solid white;
  margin-left: -1px;
  position: relative;
  left: 1px;
  top: -29px;
  margin-right: 5px;
}

.tab [type=radio] {
  display: none;
}

.content {
  position: absolute;
  top: 0px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid gray;
  opacity: 0;
}

[type=radio]:checked~label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
  border-bottom: solid 4px red;
}

[type=radio]:checked~label~.content {
  z-index: 1;
  opacity: 1;
}

.gallery-button {
  position: absolute;
  left: 83%;
  margin-top: 28%;
  width: 200px;
  height: 35px;
  opacity: 0.6;
  border-radius: 3px;
  background-color: #ffffff;
  text-decoration: auto;
  padding-left: 20px;
  padding-top: 5px;
  border: 2px solid;
}

.heading {
  width: 100%;
  height: 43px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.about {
  width: 100%;
  height: 50px;
  font-family: Poppins;
  font-size: xx-large;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.cuisine {
  height: 50px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.cuisines {
  height: 30px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.head {
  height: 30px;
  font-family: Poppins;
  font-size: x-large;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.value {
  height: 30px;
  opacity: 90%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.add{
  width: 60px;
  margin-left: 300px;
  background-color: green;
}
.add:hover{
  background-color: rgb(251, 4, 4);
}

li{
font-family: sans-serif;
font-weight: bold;
background-color: white;
margin-left: 20px;
width: 400px;
padding: 10px;
}

.Pay{
  color: #ffffff;
  background-color: #ce0505;
  padding: 10px;
  border-radius: 15px;
  width: 200px;
  float: right;
  font-size: large;
}
input{
  width: inherit;
  height: inherit;
  margin: 10px;
}
.Pro{
  color: #ffffff;
  background-color: #ce0505;
  padding: 10px;
  border-radius: 15px;
  
  margin: 10px;
  font-size: large;
  align-items: center;
}
li{
  font-family: sans-serif;
  font-weight: bold;
  background-color: white;
  margin-left: 20px;  
  width: 397px;
  border-bottom: 2px solid grey;
  box-shadow: 0 0px 0px 0 rgba(0, 0,0,1);
  position:sticky;
  z-index: 1;
}


@media only screen and (max-width: 600px) {
  .gallery-button {
    position: absolute;
    left: 55%;
    top: 85%;
    width: 200px;
    height: 35px;
    opacity: 0.6;
    border-radius: 3px;
    background-color: #ffffff;
  }
}